createdAt: "2019-04-02T01:41:51.896Z"
updatedAt: "2019-04-02T01:42:31.489Z"
type: "MARKDOWN_NOTE"
folder: "b50e690f5af37026c789"
title: ""
tags: [
  "redis"
]
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
