createdAt: "2019-04-02T01:42:49.104Z"
updatedAt: "2019-04-02T01:43:12.243Z"
type: "MARKDOWN_NOTE"
folder: "b50e690f5af37026c789"
title: ""
tags: [
  "#_redis"
]
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
